<%- include("partials/header")%>
<h1>Hello YelpCamp</h1>
<p>
  hoind oindsi oioidoi od oic oih
</p>
<a href="/campgrounds">view campground</a>
<a href="/campgrounds/new">add a campground</a>
<%- include("partials/footer")%>
