body {
  max-width: 700 px;
  width: 60%;
  margin: 20px auto;
  border: 15px solid pink;
  font-family: "Quicksand", sans-serif;
}
.post {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0.2rem;
}
.first {
  border-left: 5px solid pink;
  padding-left: 2%;
}
.date {
  letter-spacing: 0.5em;
  color: yellow;
  font-weight: 700;
}
h1 {
  width: 45%;
  text-transform: uppercase;

  border-bottom: 2px solid yellow;
  padding-bottom: 0.5em;
  color: purple;
  font-family: "Pacifico", cursive;
}

hr {
  margin-top: 3em;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
